.trainers__list {
  padding: 5px;
  display: flex;
  gap: var(--second-gap);
  justify-content: space-between;
  overflow-y: hidden;
}

.trainers__item {
  padding: var(--second-gap);
  display: flex;
  flex-direction: column;
  gap: var(--second-gap);
  box-shadow: 0px 0px 5px 5px #f0eeee;
  border-radius: var(--card-radius);
}

.trainers__item-img {
  border-radius: var(--card-radius);
}

.trainers__item-title {
  font-weight: 600;
  font-size: 1.5rem;
}

.trainers__item-text {
  font-size: 1.125rem;
  color: var(--color-dark-rgba);
}

.trainers__item-link {
  width: fit-content;
  font-size: 1.125rem;
  color: var(--color-accent);
  transition: var(--transition-time);
}

.trainers__item-link:hover {
  text-decoration: underline;
}